DEBUG=True
ALLOWED_HOSTS=*
SECRET_KEY=secret key here
MEDIA_HOST_NAME=host of media storage name
MEDIA_PORT=port of media storage
MEDIA_SSL_SECURED=True
POSTGRES_DB=db_name
POSTGRES_HOST=db_host
POSTGRES_USER=db_user
POSTGRES_PASSWORD=DB_PASSWORD
SMTP_HOST=
SMTP_PORT=
SMTP_LOGIN=
SMTP_PASSWORD=